{% extends "base.html" %}

{% block page_body %}

    <div class="content-section-b">


        <div class="container">



            <div class="row">
                <hr class="section-empty-spacer">
            </div>

            <div class="row">
                <p>Libri di: {{ user }}</p>

                <!--
<button type="button" class="btn btn-primary">
<span class="glyphicon glyphicon-plus-sign"></span> Aggiungi
</button>
-->
            </div>

            <div class="row">

                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th>ISBN</th>
                            <th>Titolo</th>
                            <th></th>
                        </tr>
                        {% for i in books.items %}

                            <tr class="active">
                                <td>{{ i.isbn }}</td>
                                <td>{{ i.title }}</td>
                                  <!--
                                <td>


<button type="button" class="btn btn-danger btn-xs">
<span class="glyphicon glyphicon-remove"></span> cancella
</button>

<button type="button" class="btn btn-success btn-xs">
<span class="glyphicon glyphicon-search"></span> dettagli
</button>





                                </td>
  -->
                                <td>
                               <a class="btn btn-default btn-xs" href="details/{{ i.id }}"><span class="glyphicon glyphicon-search"></span> dettagli</a>
     </td>
                            </tr>

                        {% endfor %}
                    </table>
                </div>

            </div>

        </div>
    </div>

{% endblock %}